.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  padding-bottom: 0px;
}

h1::after {
  content: "";
  display: block;
  width: 110%;
  height: 3px;
  background-color: var(--brown-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
