:root {
  --background-color: #f5f5dc;
  --brown-color: rgba(119, 54, 54, 0.878);
  --light-brown-color: rgb(235, 220, 185);
}

* {
  background-color: var(--background-color);
  color: var(--brown-color);
  font-family: "Elementary Gothic Bookhand";
  letter-spacing: 0.5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Elementary Gothic Bookhand";
  src: url("./assets/fonts/Elementary_Gothic_Bookhand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.sectionTitle::after {
  content: "";
  display: block;
  width: 110%;
  height: 3px;
  background-color: var(--brown-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
