.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 800px;
  background-color: white;
  outline: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  animation: growContainer 0.5s ease-out forwards;
  transform-origin: bottom left;
}

@keyframes growContainer {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 750px;
  background-color: rgb(135, 206, 250);
  border-radius: 20px;
}

.closeIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 4%;
  right: 7%;
  background: transparent;
  cursor: pointer;
  border-radius: 100%;
}

.closeIcon:hover {
  background-color: white;
}

.createProfileIcon {
  width: 120px;
  height: 120px;
  background: transparent;
  margin-left: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.createAccountTitle {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
  background: transparent;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
}

.innerContainer input {
  width: 400px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  color: black;
  border: none;
  padding-left: 10px;
  padding-right: 50px;
  font-size: 1rem;
}

.innerContainer input:focus {
  outline: none;
  border: 2px solid black;
}

.inputContainer .inputTop {
  padding-right: 17px;
}

.createPasswordContainer {
  position: relative;
  background: transparent;
}

.confirmPasswordContainer {
  position: relative;
  background: transparent;
}

.createPasswordContainer img,
.confirmPasswordContainer img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
}

.createAccountButton {
  width: 250px;
  height: 70px;
  background-color: #2f4f4f;
  color: white;
  border-radius: 20px;
  margin-top: 35px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid black;
  font-size: 1.2rem;
}

.createAccountButton:hover {
  transform: scale(1.1);
  color: gold;
}

.createAccountButton:active {
  transform: scale(1);
}

.dropdown {
  position: relative;
  width: 400px;
  height: 50px;
  background: transparent;
}

.dropdownHeader {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: white;
  border: none;
  font-size: 1rem;
}

.dropdownHeader:hover {
  border: 2px solid black;
}

.dropdownHeader span {
  background: transparent;
}

.dropdownArrow {
  transition: transform 0.3s;
}

.dropdown ul {
  list-style: none;
  margin: 5px 0 0;
  padding: 5px 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  max-height: 161px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

.dropdown.open .dropdownMenu {
  display: block;
}

.dropdown li {
  padding: 10px 15px;
  background: white;
}

.dropdown li:hover {
  background: lightgrey;
}
