.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.categoryContainer {
  width: 835px;
  height: 480px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--brown-color);
  background-color: var(--light-brown-color);
  border-radius: 5px;
}

.categoryItem {
  margin: 13px 10px 7px 13px;
  text-align: center;
  background-color: var(--light-brown-color);
  transition: transform 0.3s ease;
}

.categoryItem:hover {
  transform: scale(1.1);
}

.categoryImage {
  width: 116px;
  height: auto;
  background-color: var(--light-brown-color);
}

h3 {
  background-color: var(--light-brown-color);
}
