.auctionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
  width: 100%;
  height: 70px;
  background-color: #36454f;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.6rem;
  margin-left: -2px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  user-select: none;
}

.auctionRow:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.auctionRow:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.auctionRow .auctionRowIcon {
  width: 45px;
  height: 45px;
  background: transparent;
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
}

.auctionRow p {
  height: auto;
  width: auto;
  margin-left: 15px;
  background: transparent;
  color: gold;
}

.auctionRow div {
  margin-left: 10px;
  background: transparent;
  color: gold;
}
