.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 48px;
}

.browseTab {
  width: 836px;
  min-height: 624px;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid black;
  background-color: rgb(138, 137, 137);
}

.classPortrait {
  width: 116px;
  height: 116px;
  position: absolute;
  z-index: 99;
  border-radius: 100px;
  left: -25px;
  top: -25px;
  background-color: lightgrey;
  border: 2px solid var(--brown-color);
}

.classPortrait::after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 100px;
  border: 7px solid rgb(218, 79, 79);
  z-index: 98;
}

.classPortrait::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 100px;
  border: 3px solid black;
  z-index: 97;
}

.classImg {
  width: 116px;
  height: 116px;
  background-color: lightgrey;
  border-radius: 100px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgb(138, 137, 137);
}

.searchSection {
  width: 836px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  background-color: rgb(138, 137, 137);
  z-index: 90;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 5px 5px 0 0;
}

.searchSection input {
  width: 300px;
  height: 40px;
  border: 2px solid rgb(104, 103, 103);
  color: var(--brown-color);
  border-radius: 20px;
  background-color: white;
  font-size: 1rem;
  margin-left: 113px;
  margin-top: 6px;
  padding-left: 11px;
  padding-right: 45px;
}

.searchSection input:focus {
  outline: none;
  border: 2px solid black;
}

.inputIcon {
  margin-left: -38px;
  margin-top: 8px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  background-color: transparent;
}

.rangeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: rgb(138, 137, 137);
  margin-left: 27px;
}

.rangeContainer .levelRange {
  width: 55px;
  height: 35px;
  border: 2px solid rgb(104, 103, 103);
  color: var(--brown-color);
  border-radius: 20px;
  background-color: white;
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7rem;
}

.rangeContainer p {
  background-color: rgb(138, 137, 137);
  color: black;
  margin-left: 10px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 13px;
  margin-left: 11px;
}

.topBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  margin-left: 15px;
  margin-top: 0px;
}

.topBtnContainer .topBtn {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: var(--brown-color);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.topBtnContainer .topBtn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.topBtnContainer .topBtn:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.bottomBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  gap: 30px;
  background-color: transparent;
}

.bottomBtnContainer .bottomBtn {
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: var(--brown-color);
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBtnContainer .bottomBtn:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.bottomBtnContainer .bottomBtn:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.bottomBtnContainer .prevText {
  font-size: 0.7rem;
  background-color: transparent;
  color: white;
  margin: 0;
  margin-left: -25px;
}

.bottomBtnContainer .nextText {
  font-size: 0.7rem;
  background-color: transparent;
  color: white;
  margin: 0;
  margin-right: -25px;
}

.bottomBtnContainer .btnIconLeft {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: -2px;
}

.bottomBtnContainer .btnIconRight {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: 2px;
}

.categorySection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 321px;
  min-height: 535px;
  max-height: 535px;
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 6px;
  margin-left: 6px;
  text-align: start;
  border-radius: 5px;
  gap: 2px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
  z-index: 99;
  overflow-y: auto;
}

.categorySection::-webkit-scrollbar {
  width: 14px;
}

.categorySection::-webkit-scrollbar-track {
  background: #36454f;
}

.categorySection::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #b6b6b6, #ffd700, #f5b43c);
  border-radius: 6px;
  border: 2px solid #36454f;
}

.category {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: var(--brown-color);
  border: 2px solid black;
  color: white;
  padding-left: 10px;
  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.category:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translate(-2px, -1px);
}

.category:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translate(0px, 0px);
}

.category .categoryIcon {
  background-color: transparent;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryWrapper {
  background-color: transparent;
}

.dropdown {
  background-color: transparent;
  padding: 5px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 1s ease;
}

.dropdown.open {
  opacity: 1;
  animation: dropdownOpen 0.4s forwards;
}

.dropdown.closed {
  animation: dropdownClose 0.4s forwards;
}

.dropdown ul {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  width: 100%;
  max-width: 270px;
  height: 48px;
  background-color: var(--brown-color);
  border: 2px solid black;
  text-align: center;
  border-radius: 50px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 5px 0;
  margin: 3px 0 0 -11px;
}

.dropdown ul li:hover {
  background-color: rgb(197, 196, 196);
}

@keyframes dropdownOpen {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    max-height: 1000px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.browseSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 504px;
  min-height: 529px;
  max-height: 529px;
  background-color: transparent;
  border: none;
  color: white;
  margin-top: 11px;
  margin-left: -1px;
  text-align: start;
  align-items: flex-start;
  border-radius: 5px;
  gap: 4px;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
  z-index: 99;
  overflow-y: auto;
}

.browseSection::-webkit-scrollbar {
  width: 14px;
}

.browseSection::-webkit-scrollbar-track {
  background: #36454f;
}

.browseSection::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #b6b6b6, #ffd700, #f5b43c);
  border-radius: 6px;
  border: 2px solid #36454f;
}

.browseFilters {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  min-height: 60px;
  background-color: rgb(92, 90, 90);
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.7rem;
  margin-left: -2px;
  user-select: none;
  padding: 2px 2px;
  margin-top: -5px;
  gap: 15px;
}

.browseFilters .itemNameFilter {
  position: absolute;
  top: 50%;
  left: 20%;
  background: transparent;
  color: white;
  transform: translateY(-50%);
}

.browseFilters .itemLvlFilter {
  position: absolute;
  top: 50%;
  left: 41%;
  background: transparent;
  color: white;
  transform: translateY(-50%);
}

.browseFilters .timeLeftFilter {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  color: white;
  transform: translateY(-50%);
}

.browseFilters .sellerFilter {
  position: absolute;
  top: 50%;
  left: 61%;
  background: transparent;
  color: white;
  transform: translateY(-50%);
}

.browseFilters .currentBidFilter {
  position: absolute;
  top: 50%;
  left: 77%;
  background: transparent;
  color: white;
  transform: translateY(-50%);
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.browseFilters p {
  margin-left: 23px;
  background: transparent;
  color: white;
}

.tabsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin-left: -445px;
  margin-top: -2px;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}

.tabBrowse {
  background-color: #36454f;
  color: gold;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  animation-duration: 0.5s;
  width: 100px;
}

.tabSell {
  background-color: #36454f;
  color: gold;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  animation-duration: 0.5s;
  width: 65px;
}

.tabMyAuctions {
  background-color: #36454f;
  color: gold;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  font-size: 0.9rem;
  cursor: pointer;
  animation-duration: 0.5s;
  width: 148px;
}

.flash {
  animation-name: flash;
}

@keyframes flash {
  0% {
    background-color: #36454f;
  }
  50% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: #36454f;
  }
}

.sellTab {
  display: flex;
  flex-direction: row;
  width: 836px;
  min-height: 659px;
  height: auto;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid black;
  background-color: rgb(138, 137, 137);
}

.createAuctionSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 631px;
  height: auto;
  background-color: transparent;
  border: none;
  color: gold;
  margin-top: 33px;
  margin-left: 6px;
  text-align: start;
  border-radius: 5px;
  gap: 2px;
  padding-bottom: 8px;
  z-index: 1;
  background-color: transparent;
}

#createAuctionTitle {
  display: inline-block;
  width: 280px;
  height: auto;
  background-color: #36454f;
  color: gold;
  margin-left: 93px;
  margin-top: 23px;
  padding: 0;
  text-align: center;
  border: 2px solid black;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  z-index: 99;
  font-size: 1.4rem;
}

.auctionItem {
  display: flex;
  flex-direction: column;
  width: 477px;
  min-height: 150px;
  background-color: #36454f;
  margin-top: -22px;
  margin-left: 2px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

#auctionItemTitle {
  background-color: transparent;
  color: gold;
  margin-left: 0;
  margin-top: -5px;
  padding-left: 5px;
  padding-top: 5px;
}

.auctionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  height: 75px;
  margin-top: -10px;
}

.auctionWrapper .dropZone {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
}

.auctionWrapper .dropZone img {
  width: 60px;
  height: 60px;
  background-color: transparent;
  margin-left: -2px;
}

.hoverText {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.auctionWrapper .dropZone:hover .hoverText {
  opacity: 1;
}

.dropZone.dragging .hover-text {
  opacity: 0 !important;
}

.auctionWrapper .itemName {
  width: 369px;
  height: 75px;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  text-align: center;
  line-height: 65px;
  font-size: 0.8rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  width: 477px;
  min-height: 287px;
  background-color: #36454f;
  margin-top: 0;
  margin-left: 2px;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-top: 10px;
  gap: 0;
}

.priceWrapper {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  gap: 12px;
}

.priceDurationTitle {
  background-color: transparent;
  color: gold;
  margin-left: 0;
  margin-top: -5px;
  padding-left: 5px;
  padding-top: 5px;
}

.auctionDropdown {
  background-color: transparent;
}

.auctionDropdown .auctionDropdownList {
  background-color: lightgrey;
  color: black;
  border-radius: 5px;
  border: 2px solid rgb(104, 103, 103);
  width: 105px;
  height: 40px;
  margin-right: 6px;
  font-size: 0.7rem;
}

.auctionDropdownList:focus {
  border: 2px solid black;
}

.auctionDropdownList option {
  background-color: lightgrey;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.pricing .pricingTitle {
  background-color: transparent;
  color: gold;
  margin-left: 0;
  margin-top: -5px;
  padding-left: 5px;
  padding-top: 5px;
}

.pricing .buyoutTitle {
  background-color: transparent;
  color: gold;
  margin-left: 0;
  margin-top: -5px;
  padding-left: 5px;
  margin-top: 20px;
}

.pricingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  height: 25px;
  margin: 0;
}

.pricing .currencyInput {
  width: 110px;
  height: 40px;
  background-color: lightgrey;
  font-size: 0.8rem;
  color: black;
  padding: 0 0 0 10px;
  margin: 0;
  border: 2px solid rgb(104, 103, 103);
}

.pricing input:focus {
  outline: none;
  border: 2px solid black;
}

.coin {
  width: 35px;
  height: 35px;
  background-color: transparent;
}

.deposit {
  display: flex;
  flex-direction: column;
  width: 477px;
  min-height: 107px;
  background-color: #36454f;
  margin-top: 0;
  margin-left: 2px;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-top: 10px;
  gap: 20px;
}

.depositWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 12px;
  margin-top: -20px;
}

.depositTitle {
  background-color: transparent;
  color: gold;
  margin-left: 0;
}

.depositButton {
  width: 451px;
  height: 40px;
  background-color: var(--brown-color);
  color: gold;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: -34px;
  margin-left: 1px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.depositButton:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.depositButton:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.depositAmount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: transparent;
  color: gold;
}

.inventorySection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 622px;
  background-color: transparent;
  border: none;
  color: gold;
  margin-top: 33px;
  margin-left: 123px;
  text-align: start;
  border-radius: 5px;
  gap: 2px;
  padding-bottom: 8px;
  z-index: 1;
}

#inventoryTitle {
  display: inline-block;
  width: 188px;
  height: auto;
  background-color: #752f01;
  color: gold;
  margin-left: 70px;
  margin-top: 23px;
  padding: 0;
  text-align: center;
  border: 2px solid black;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  z-index: 99;
  font-size: 1.4rem;
}

.inventory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 337px;
  height: 650px;
  background-color: #752f01;
  margin-top: -22px;
  margin-left: -2px;
  margin-bottom: -8px;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  width: 327px;
  height: 520px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 1px;
  margin-left: -10px;
  background-color: #752f01;
}

.inventoryItemSlot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  z-index: 99;
}

.inventoryItemSlot:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.inventoryItemSlot:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.inventoryItem {
  position: absolute;
  background-color: transparent;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myAuctionsTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 836px;
  min-height: 668px;
  height: auto;
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  border: 2px solid black;
  background-color: rgb(138, 137, 137);
}

.auctionTopRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  height: 48px;
  background-color: var(--brown-color);
  border-radius: 5px 5px 0 0;
  border: 2px solid black;
  border-bottom: none;
  margin-left: 80px;
  margin-top: 60px;
  gap: 50px;
}

.auctionTopRow .topFilter {
  background-color: transparent;
  padding-left: 10px;
  color: gold;
}

.auctionTopRow .topFilter:not(:first-child) {
  border-left: 2px solid black;
}

.auctionsContainer {
  width: 780px;
  max-width: 780px;
  height: 540px;
  max-height: 550px;
  background-color: var(--brown-color);
  margin-top: 0;
  border: 2px solid black;
  border-radius: 5px 0 5px 5px;
}
