.myAuctionRow {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  height: 85px;
  min-height: 70px;
  background-color: #36454f;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.7rem;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  user-select: none;
}

.myAuctionRow:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 3px 3px rgba(255, 215, 0, 0.6);
}

.myAuctionRow:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.myAuctionRow .auctionRowIcon {
  width: 60px;
  height: 60px;
  background: transparent;
}

.myAuctionRow .itemName {
  position: absolute;
  top: 50%;
  left: 9.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
  width: 180px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.myAuctionRow .timeLeft {
  position: absolute;
  top: 50%;
  left: 42.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
}

.myAuctionRow .highBidder {
  position: absolute;
  top: 50%;
  left: 60.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
  width: 120px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.myAuctionRow .buyout {
  position: absolute;
  top: 70%;
  left: 79.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
}

.myAuctionRow .currentBid {
  position: absolute;
  top: 30%;
  left: 88.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
}

.myAuctionRow .currentBuyout {
  position: absolute;
  top: 70%;
  left: 88.5%;
  background: transparent;
  color: gold;
  transform: translateY(-50%);
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
}
