.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.logInContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 1000px;
  max-width: 1000px;
  height: 500px;
  max-height: 500px;
  border-radius: 25px;
  background: transparent;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 25px 0 0 25px;
  padding-top: 70px;
}

.leftContainer h1 {
  background-color: transparent;
  font-size: 1.5rem;
}

.leftContainer p {
  margin-top: -20px;
  background-color: transparent;
}

.usernameContainer {
  position: relative;
  background: transparent;
  margin-bottom: 20px;
}

.usernameContainer img {
  background-color: transparent;
  position: absolute;
  top: 22%;
  left: 5%;
  width: 30px;
  height: 30px;
}

.passwordContainer {
  position: relative;
  background: transparent;
  margin-bottom: 20px;
}

.passwordContainer img {
  position: absolute;
  top: 22%;
  left: 5%;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.leftContainer input {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 15px;
  padding-bottom: 3px;
  color: black;
  background-color: lightgrey;
  outline: none;
  border: 2px solid transparent;
  font-size: 1.2rem;
}

.leftContainer input:focus {
  outline: none;
  border: 2px solid black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  background: transparent;
  gap: 20px;
}

.loginButton {
  text-align: center;
  border-radius: 25px;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  color: white;
  background: var(--brown-color);
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-bottom: 20px;
}

.loginButton:hover {
  transform: scale(1.1);
}

.loginButton:active {
  transform: scale(1);
}

.signUpButton {
  text-align: center;
  border-radius: 25px;
  border: 1px solid black;
  width: 100px;
  height: 50px;
  color: white;
  background: var(--brown-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.signUpButton:hover {
  transform: scale(1.1);
}

.signUpButton:active {
  transform: scale(1);
}

.rightContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  background: var(--brown-color);
  border-radius: 0 25px 25px 0;
  overflow: hidden;
}

.rightContainer img {
  width: 450px;
  height: 450px;
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translateX(-53%);
  background: transparent;
}
