.container {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 0px;
}

.navBarLogoLogin {
  width: 300px;
  height: auto;
  max-width: 496px;
  padding: 0;
  margin-top: 0;
  margin-left: -383px;
}

.navBarLogoLogout {
  width: 300px;
  height: auto;
  padding: 0;
  max-width: 496px;
  margin-top: 0px;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 160px;
  font-size: 1.2rem;
}

nav ul li {
  position: relative;
  margin: 0 1rem;
  margin-top: 38px;
  margin-bottom: 40px;
  cursor: pointer;
}

nav ul li::after {
  content: "";
  position: absolute;
  margin-bottom: -13px;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 2px;
  background-color: var(--brown-color);
  transform: scaleX(0);
  transition: transform 0.3s;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
}

h1 {
  position: relative;
  padding-bottom: 0px;
}
