.container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 300px;
  height: auto;
  max-width: 496px;
  margin-top: 0px;
  height: auto;
}

.imageWrapper {
  position: relative;
  display: inline-block;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  margin-bottom: -15px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: var(--brown-color);
  transform: scaleX(0);
  transition: transform 0.3s;
}

.imageWrapper:hover::after {
  transform: scaleX(1);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 160px;
  font-size: 1.2rem;
}

nav ul li {
  position: relative;
  margin: 0 1rem;
  margin-top: 38px;
  margin-bottom: 50px;
}

nav ul li::after {
  content: "";
  position: absolute;
  margin-bottom: -6px;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 2px;
  background-color: var(--brown-color);
  transform: scaleX(0);
  transition: transform 0.3s;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

a {
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgrey;
  width: 100vw;
  margin-top: 5px;
}

h1 {
  position: relative;
  padding-bottom: 0px;
}

h1::after {
  content: "";
  display: block;
  width: 110%;
  height: 3px;
  background-color: var(--brown-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
